<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>历史订单详情</title>
    <link rel="stylesheet" href="css/bootstrap2.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/unicorn.main.css" />
    <link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />
    <link rel="stylesheet" href="css/dashboard.css">

    <link rel="stylesheet" href="css/mermaid.css">
    <link rel="stylesheet" href="css/public.css">
</head>
<body>
    <div id="admin_order_detail"></div>
    <script type="text/javascript">
    var order_ids=JSON.stringify(["{{order_id}}"]);
    var selected = '06';

      //表头
      var tt = [{name:'product_name',title:'名称',sort:false}
              ,{name:'number',title:'数量',sort:false}
              ,{name:'price',title:'单价',sort:false}
              ,{name:'total_price',title:'总价',sort:false}
              ,{name:'option',title:'操作',type:'view',sort:false}];

      function getTableData(params,cb) {
          params.everyNum = 50;
          var allNum = 0;

          $.get("/search_ol_orders_infos?order_ids="+order_ids,function(data){
              if (data.success) {
                  var details = data.rows[0].details;
                  var products = data.products;
                  var items = [];
                  for (var i = 0; i < details.length; i++) {
                      var product_id = details[i].product_id
                      items.push({product_name:products[product_id].product_name,number:details[i].number,
                                price:details[i].price,product_id:details[i].product_id,total_price:details[i].total_price})
                  }
                  cb({tabthitems:tt,tabtritems:items,allNum:allNum,everyNum:params.everyNum});
              }else {
                  alert(data.message);
              }
          });
      };
    </script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap2.min.js"></script>
    <script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/unicorn.js"></script>
    <script src="js/unicorn.tables.js"></script>
    <script src="js/mermaid.min.js"></script>
    <script src="js/app/admin_order_detail.js"></script>
</body>
</html>
