<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>订单详情</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/example.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/product_list.css">
    <link rel="stylesheet" href="css/product_cart.css">
</head>
<body>
    <div id="now_order"></div>

    <script type="text/javascript">;
    var order_ids= JSON.stringify(["{{order_id}}"]);
    </script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/now_order.js"></script>
</body>
</html>
